:host {
  display: block;
}

.wrapper {
  border-radius: 4px;
  background-color: #333333;
  position: relative;
  display: block;
}

.input {
  flex: 1;
  font-size: 16px;
  color: #ffffff;
  line-height: 50px;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: 0;
  padding: 16px 20px 0;
  background: transparent;

  &:focus {
    background-color: #454545;
  }
}

.placeholder {
  color: #8c8c8c;
  position: absolute;
  left: 20px;
  pointer-events: none;
  transition: 0.1s all ease;

  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);

  .input:focus + & {
    font-size: 11px;
    top: 7px;
    transform: translateY(0);
  }

  &--text {
    font-size: 11px;
    top: 7px;
    transform: translateY(0);
  }
}
